body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    font-size: 2.5rem;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}


#top-container {
    background-color: #C9EEFF;
    position: relative;
    padding-top: 100px;

}

/* #middle-container {

} */

/* #bottom-container {
    background-color: blue;
    height: 200px;
    width: 200px;

} */

#top_cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

#bottom_cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}


/* #mountain {
    position: absolute;

} */

.skill_img_html {
    width: 25%;
    margin: 5px;
    float: left;
    margin-right: 30px;
}

.skill_img_js {
    width: 25%;
    margin: 5px;
    float: right;
    margin-left: 30px;
}



#profile_picture {
    margin-top: 30px;
}

a {
    color: #11999E;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

