body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin-top: 0px;
    font-family: 'Sacramento', cursive;

}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}


#top-container {
    background-color: #C9EEFF;
    position: relative;
    padding-top: 100px;

}

/* #middle-container {
    background-color: red;
    height: 200px;
    width: 200px;
}

#bottom-container {
    background-color: blue;
    height: 200px;
    width: 200px;

} */

#top_cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

#bottom_cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}


/* #mountain {
    position: absolute;

} */